.stats-grid {
  display: grid;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    "el-1 el-2  el-3 el-3 el-4 "
    ;
@media (width <= 768px){
    display:flex;
    flex-direction: column;
}
}
